   <div ngxCookieConsentContent>

     <div ngxCookieConsentBody>
       In porta commodo magna, vel malesuada odio porttitor ut. Aliquam pretium justo nec tincidunt sagittis. Morbi
       laoreet
       consectetur sapien, ut vestibulum orci commodo ac. Integer semper accumsan porttitor. Ut eu pulvinar purus, sed
       elementum ipsum. Etiam in ornare sem, at porttitor diam. Aenean fringilla fermentum est, nec pharetra magna
       lacinia
       id. Nunc in orci sed tellus dignissim bibendum vitae ut turpis. Aliquam tincidunt odio odio, a feugiat nisl
       congue
       eu.
       Nulla id purus cursus, ornare erat id, laoreet arcu. Donec vitae gravida erat. Donec eleifend elit vitae sem
       aliquet, sit amet laoreet ex interdum. Duis felis tellus, commodo sit amet mattis pharetra, maximus et lacus.
       Fusce
       in mi dictum, ornare augue ut, accumsan diam. Vivamus non dolor ut lorem gravida pulvinar non a lectus. Nulla vel
       ligula vel arcu ultrices luctus. Fusce mattis nisl eget nisi sollicitudin volutpat. Duis vel erat ultrices urna
       viverra aliquam. Integer vel nulla et mi vehicula sagittis sit amet nec mauris. Morbi bibendum a nunc ut
       condimentum.
     </div>
     <div ngxCookieConsentOptions>
       <input type="checkbox" id="necessary" name="necessary" value="necessary">
       <label for="necessary">Necessary</label>
       <input type="checkbox" id="statistics" name="statistics" value="statistics">
       <label for="statistics">Statistics</label>
       <input type="checkbox" id="function" name="function" value="function">
       <label for="function">Function</label>
     </div>
     <div ngxCookieConsentAction>
       <button type="button">Confirm selection</button>
       <button type="button">Select all</button>
     </div>
     <div ngxCookieConsentFooter>
       <a href="">Privacy policy</a>
       <a href="">Imprint</a>
       <a href="">About us</a>
       <a href="">Terms of use</a>
       <a href="">Contact</a>
     </div>

   </div>
